<footer id="rodape">
        <p class="redes">Redes Sociais</p>
        <a href="https://www.facebook.com/FordBrasil/"><img class="icones" src="images/facebook-50.png"
                alt="Logo do Facebook"></a>
        <a href="https://www.youtube.com/fordbrasil"><img class="icones" src="images/youtube-squared-50.png"
                alt="Logo do Youtube"></a>
        <a href="https://www.instagram.com/fordbrasil/"><img class="icones" src="images/instagram-logo-50.png"
                alt="Logo do Instagram"></a>
        <p class="copyright">&copy; 2025 <a class="git"
                href="https://github.com/Bolverk1993/Desafio-da-Sprint_HTML_CSS.git">Vítor Aguiar</a></p>
        <nav class="link__externo">
            <a href="https://www.ford.com.br/"><img class="icones" src="images/ford-96.png" alt="Logo ford"></a>
        </nav>
    </footer>
