<div class=" teste d-flex justify-content-center align-items-center h-100 w-100">
    <div class="bg-img">
        <section class="login_section_carro">
            <img src="images/ranger.png" alt="">
        </section>
        
        <section class="login_section_forms">
            <img id="logo-ford" src="images/ford.png" alt="logo da ford">
        <br>
        <br>
            <p id="BV-login">Boas-vindas!!</p>
            <br>
            <app-login-form/>
        </section>
    </div>
    <app-footer />
</div>